{
    "printWidth": 125,
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "always",
    "requirePragma": false,
    "insertPragma": false,
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css",
    "vueIndentScriptAndStyle": false,
    "endOfLine": "lf",
    "embeddedLanguageFormatting": "auto",
    "overrides": [
        {
            "files": [
                "*.js",
                "*.css",
                "*.scss",
                "*.ts",
                "*.jsx",
                "*.tsx",
                "*.yml",
                "*.yaml"
            ],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
